@import classes/settings
@import classes/grid/grid
@import classes/grid/pm
@import classes/other/fonts
@import classes/elements/cards
@import classes/elements/form
*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font-family: sans-serif

.box
    box-shadow: 1px 1px 5px rgba(12, 12, 12, 0.1) !important
    padding: 6px 16px
    width: 100%
    border-radius: 5px
    background-color: white
.h1, .h2
    font-weight: 100
@import classes/other/text
.image
    width: 100%
.border-none
    border: none
.code
    white-space: nowrap
.box-shadow
    box-shadow: 1px 1px 5px rgba(12, 12, 12, 0.1) !important
.box-shadow-2
    box-shadow: 1px 1px 15px 2px rgba(226, 226, 226, 0.5) !important
.box-shadow-none
    box-shadow: none !important
.text-block
    line-height: 1.8em
.fixed-top
    position: fixed
    top: 0
.fixed-left
    position: fixed
    left: 0
.fixed-right
    position: fixed
    right: 0
.fixed-bottom
    position: fixed
    bottom: 0
.relative
    position: relative
.absolute
    position: absolute
.link
    text-decoration: none
@for $i from 0 through $b-r-max
    .border-r-#{$i}
        border-radius: #{$i}px !important
    .border-r-l-#{$i}
        border-radius: #{$i}px 0px 0px #{$i}px
    .border-r-r-#{$i}
        border-radius: 0px #{$i}px #{$i}px 0px
    .border-r-t-#{$i}
        border-radius: #{$i}px #{$i}px 0px 0px
    .border-r-b-#{$i}
        border-radius: 0px 0px #{$i}px #{$i}px
@for $i from 0 through $border-thickness
    .border-t-#{$i}
        border-width: #{$i}px !important
@for $i from 0 through 100
    .opacity-#{$i}
        opacity: #{$i}% !important
.border-r-circle
    border-radius: 50% !important
@for $i from 0 through $hover-max
    .hover-#{$i}
        transition: background-color #{$i*0.2}s ease, color #{$i*0.2}s ease
.b-none
    background: transparent !important
.c-none
    color: transparent !important
@import classes/other/colors

@import classes/grid/media
